.menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 50px;
  background: rgba(32, 32, 32, 0.651); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Тень для глубины */
  border-radius: var(--main-border-radius);
  display: flex;
  flex-direction: column;
  color: #ffffff;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.menu.expanded {
  will-change: backdrop-filter;
  backdrop-filter: saturate(180%) blur(20px);
  width: 400px;
  height: 300px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  visibility: hidden;
}

.menu-button {
  margin: 5px 0px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-weight: normal;
}

.menu-list a {
  margin: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  font-size: 18px;
}

.menu-list svg {
  vertical-align: middle;
  transition: 0.4s all;
  font-size: 13px;
}

.menu-list a:hover > svg {
  transform: translateX(3px);
}

.close {
  text-align: right;
  font-size: 22px;
  margin-right: 10px;
}

.close svg {
  transition: 0.6s all;
  cursor: pointer;
}

.close svg:hover {
  transform: rotate(160deg);
}

@media screen and (max-width: 768px) {
  .menu {
    right: 20px;
    bottom: 20px;
  }

  .menu.expanded {
    width: 230px;
    height: 327px;
  }
}
